.App {
  height: 100vh;
  background-color: chocolate;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.App-nav {
  width: 50%;
  display: flex;
  margin: 1rem auto;
  justify-content: space-around;
}

.active-link {
  color: pink;
  border-bottom: 1px solid white;
}

.App-nav a:hover {
  color: red;
  cursor: pointer;
}
